@import '../../styles/variables.scss';

.header {
  position: fixed;
  z-index: 100;

  height: 80px;
  width: 100%;

  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;

  margin-left: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}


.wrapper {
  margin-right: 22px;
  display: flex;
  align-items: center;
}

.signin {
  color: rgba(0, 0, 0, 0.85);
}

.logout {
  margin-left: 27px;
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.85);
}

.logout:hover {
  outline: auto;
}

.greenBtn {
  margin-left: 19px;
  border-color: $success-color;
  color: $success-color;
}

.greenBtn:hover {
  outline: auto;
}

.user {
  margin-left: 27px;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}